<!--
This renders the current tasks associated to the user and we bind the object returned from a get request 
to the html elements. We need to import the FormsModule which allows us to manipulate the dom and bind data
with directives
-->

<div class="task-container" *ngFor="let task of myTasks; index as i">
    <h1 class="task-title">{{ task.title }}</h1>
    <p class="task-detail">{{ task.description }}</p>
    <p class="task-detail">{{ task.priority | lowercase }} priority</p>
    <p class="task-detail">Date: {{ task.date }}</p>
    <div class="task-status">
      <button type = "button" (click)="deleteTasks(task.id!)">delete</button>
      <button class="btn-pending" *ngIf="task.status == 'COMPLETED'" (click)="setToPending(task.id!, 'PENDING')">
        Mark as Pending</button>
      <button class="btn-completed" *ngIf="task.status == 'PENDING'" (click)="setToCompleted(task.id!, 'COMPLETED')">
        Mark as Completed</button>
    </div>
  </div>
  